/*** Londonthemes Tabs ***/

.widget {
   width: 315px;
   margin-bottom: 28px;
   float:left;
   font-size: 75%;
   color: #222;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
   text-shadow:1px 1px 1px transparent;
   
}
.tabsheader{
	background-image:url(images/tabs_bg.png) !important; 
	
	border:1px solid #d3d3d3;
	float:left; 
	width:313px;
	height:43px;	

	
}
.widget a {
   color: #222;
   text-decoration: none;
}
	
.widget a:hover{
	color:#333;
	text-decoration: underline;
}

.tabnav{
	background-color:#030 !important;
}

.tabnav li{
	display: inline;
	list-style: none;
	padding-right: 0px;
	float:left;
	border-right:1px solid #fff;
	
	
}
	
.tabnav li a{
	text-decoration: none;
	color: #3f3f3f;
	padding-left:15px;
	padding-right:15px;
	outline: none;
	float:left;
	/*-moz-border-radius: 7px 7px;
    -webkit-border-radius: 7px 7px;
    -khtml-border-radius: 7px 7px;
    border-radius: 7px 7px; */
	border:1px solid transparent;
	height:43px;
	text-shadow:1px 1px #fff;
	line-height:41px;
	border-right:1px solid #cfcfcf;
}

.tagslast, a .tagslast{ border-right:0 !important; width:39px;    -moz-border-radius-topright: 7px 7px; -webkit-border-top-right-radius: 7px 7px; -khtml-border-top-right-radius: 7px 7px; border-top-right-radius: 7px 7px;}
		
.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a{
	background: #ffffff;
	color: #222;
	text-decoration: none;
	float:left;
   -moz-border-radius-topleft: 7px 7px;
    -webkit-border-top-left-radius: 7px 7px;
    -khtml-border-top-left-radius: 7px 7px;
    border-top-left-radius: 7px 7px;
	
}
	
.tabdiv{
	background: #fff;
	border: 1px solid #d3d3d3;
	border-top:0;
	padding: 5px;
	float:left;
	-moz-border-radius-bottomleft: 5px 5px;
    -webkit-border-bottom-left-radius: 5px 5px;
    -khtml-border-bottom-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
    -webkit-border-bottom-right-radius: 5px 5px;
    -khtml-border-bottom-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
	
.tabdiv li{
	margin-left:5px;
	float:left;
}

.ui-tabs-hide{
	display: none;
}

.tab_inside{
	float:left;
	width:300px;
	height:100%;
	padding-bottom:15px;
	padding-top:12px;
	border-bottom:1px solid #f7f6f3;
	
}


.tab_inside img{
	float:left;
	width:53px;
	height:41px;
	padding:2px;
	-moz-box-shadow: 0px 0px 7px #eaeaea;  
	-webkit-box-shadow: 0px 0px 7px #eaeaea;
	border:1px solid #cfcfcf;
	margin-left:15px;
	
}

.tab_inside a img{
	border:solid #dedbd1 1px;
	
}

.tab_inside a:hover img{
	border:solid #a3a3a3 1px;
	

}

.tab_inside div.content{
	float:left;
	width:211px;
	padding-left:11px;
}

.tab_inside div.content a{
	color:#242424;
	font-weight:normal;
	text-shadow:none;
}

.tab_inside div.content a:hover{
	color:#7d7d7d;
	text-decoration:none;
}

.tab_inside div.content h1{
	float:left;
	font-size:12px;
}

.tab_inside span.date{
	color:#a0a0a0;
	text-shadow:none;
}